.inset {
  background: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(46, 46, 46);
  border-right: 1px solid rgb(46, 46, 46);
  border-left: 1px solid rgb(140, 140, 140);
  border-top: 1px solid rgb(140, 140, 140);
}

.outset {
  background: rgb(92, 104, 110);
  border-bottom: 1px solid rgb(73, 81, 86);
  border-left: 1px solid rgb(123, 134, 138);
  border-right: 1px solid rgb(73, 81, 86);
  border-top: 1px solid rgb(123, 134, 138);
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
  clear: both;
  }
}