[submodule "js/lib/backbone.gui"]
	path = js/lib/backbone.gui
	url = https://github.com/catshirt/backbone.gui.git
[submodule "js/lib/JSam"]
	path = js/lib/JSam
	url = git@github.com:catshirt/JSam.git
