@import "/less/common.less";

.mixer {
  height: 242px;
  display: inline-block;
  .clearfix;

  .fx {
    .inset;
    display: none;
    float: left;
    width: 200px;
    height: 100%;
    padding: 1px;

    > li {
      .outset;
      padding: 3px;
    }
  }

  .channels {
    .clearfix;
    .inset;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;

    > li {
      float: left;

      &:first-child {
        margin-left: 1px;
      }

      .meta,
      .controls {
        .outset;
        margin: 1px 1px 1px 0;
        padding: 5px;

        &.meta {
          height: 120px;
          position: relative;

          .monitor {
            position: relative;
            border-radius: 3px;
            height: 30px;
            background: rgb(0, 0, 0);

            .gain {
              background: rgb(160, 226, 45);
              position: absolute;
              bottom: 0;
              width: 100%;
              border-bottom-left-radius: 2px;
              border-bottom-right-radius: 2px;
            }
          }

          .name_input {
            -webkit-transform: rotate(-90deg);
            position: absolute;
            bottom: 30px;
            left: -20px;
          }

            input {
              width: 70px;
              font-size: 10px;
              -webkit-user-select: auto;
            }
        }

        &.controls {

          .bb-gui-component {
            display: block;

            > * {
              margin: 0 auto;
            }
          }

          .pan_knob {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}